HELP.md
target/
!.mvn/DAO/maven-DAO.jar
.mvn
mvnw
mvnw.cmd
!**/src/main/**/target/
!**/src/test/**/target/

mysql-docker/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
